{% load static %}
{% block dashboard %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- table layout -->
    <script src="{% static '/Javascript/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/css/bootstrap.min.css' %}">
    <script src="{% static '/Javascript/js/jquery.min.js' %}"></script>

    <script src="{% static '/Javascript/js/Chart.min.js' %}" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static '/Media/Dasmalogo.png' %}" type="image/y-icon">
    <link rel="stylesheet" href="{% static '/CSS/DataTables/datatables.min.css' %}">
    <script src="{% static '/CSS/DataTables/datatables.js' %}"></script>
    <link rel="stylesheet" href="{% static '/CSS/DataTables/Buttons-1.7.1/css/buttons.bootstrap5.css' %}">
    <script src="{% static '/CSS/DataTables/Buttons-1.7.1/js/buttons.bootstrap5.js' %}"></script>


<title>PPMS | Barangay List</title>
</head>
<body>

<header>
    <div class="site-header">
    <nav class="navbar fixed-top index__navbar scrolled border-bottom" 
    style=" padding-left:3%; padding-right:3%;">
        <div class="flex-fill p-1 py-1">
            <div id="mobileNav" class="d-flex align-items-center justify-content-between">
                <div>
                    <a href="#" class="name" style="text-decoration: none;">
                        <img id="adminIcon" class="navbar-icon" src="{% static '/Media/avatar.png' %}" alt="dasma-logo">
                        <span id="adminHidetitle" class="brand__name" style="color:rgb(0, 0, 0); margin-left:10px;">City of Dasmariñas</span>
                    </a>
                </div>
                <label class="burger "for="toggle"><i  id="hamburger" class="fa fa-fw fa-bars" style="font-size: 24px;"></i></label>
                <input type="checkbox" id="toggle">
                <div class="menu" id="navLinks">
                    <ul id="nav" class="nav text-small">
                        <li>
                            <a href="{% url 'admin_home' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"  
                            title="Admin Home">
                            <i id="navIcon" class="fa fa-fw fa-home" style="font-size: 24px;"></i>   
                            <span id="navText" style="font-size: 20px;"><i class="fa fa-fw fa-home" style="font-size: 20px;margin-right:8px;"></i>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_home2' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="Preschooler Status">
                            <i id="navIcon" class="fa fa-3x fa-fw fa-id-card " style="font-size: 24px;"></i>
                            <span id="navText" style="font-size: 20px; " ><i class="fa fa-fw fa-id-card" style="font-size: 20px;margin-right:8px;"></i>Preschooler Status</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_barangay' %}" class="nav-link" style="color:rgb(27, 177, 92) !important;" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="List of Barangay">
                            <i id="navIcon" class="fa fa-3x fa-fw fas fa-landmark " style="font-size: 24px;"></i>
                            <span id="navText" style="font-size: 20px;color:rgb(27, 177, 92) !important;" ><i class="fa fa-fw fa-landmark" style="font-size: 20px;margin-right:8px;"></i>List of Barangay</span>
                            </a>
                        </li>
                        <li>
                            {% if invalidated_count > 0 %}
                            <a href="{% url 'bhw_validation' %}" class="nav-link"  data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                                title="BHW Validation" >
                                <i id="navIcon" class="fa fa-fw fa-user-md" style="font-size: 24px;"></i>
                                <span id="navText" style="font-size: 20px; " ><i class="fa fa-fw fa-user-md" style="font-size: 20px;margin-right:8px;"></i>BHW Validation</span>
                                <span class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-danger">
                                    !
                                    <span class="visually-hidden">BHW Validation</span>
                                </span></a>
                            {% else %}
                            <a href="{% url 'bhw_validation' %}" class="nav-link"  data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                                title="BHW Validation" >
                                <i id="navIcon" class="fa fa-fw fa-user-md" style="font-size: 24px;"></i>  
                                <span id="navText"style="font-size: 20px; " ><i class="fa fa-fw fa-user-md" style="font-size: 20px;margin-right:8px;"></i>BHW Validation</span>
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'admin_userAccounts' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="User Accounts">
                            <i id="navIcon" class="fa fa-3x fa-fw fas fa-users " style="font-size: 24px;"></i>
                            <span id="navText" style="font-size: 20px; " ><i class="fa fa-fw fa-users" style="font-size: 20px;margin-right:8px;"></i>User Accounts</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'admin_historyLogs' %}" class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="History Logs">
                            <i id="navIcon" class="fa fa-3x fa-fw fas fa-clipboard-list " style="font-size: 24px;"></i>
                            <span id="navText" style="font-size: 20px;" ><i class="fa fa-fw fa-clipboard-list" style="font-size: 20px;margin-right:8px;"></i>History Logs</span>
                            </a>
                        </li>
                        <li>
                            <a id="navIcon" class="btn nav-link position-relative" id="dropdownUser1" data-bs-toggle="dropdown" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="User Settings" aria-expanded="false">
                                <i class="fa fa-fw fa-user-cog bi" style="font-size: 24px;"></i>
                                <span class="position-absolute top-100 start-75 translate-middle badge rounded-pill text-dark" style="border-radius: 50%;">
                                    <i class="fa fa-lg fa-fw fa-caret-down bg-light" style="border-radius: 25%; margin-bottom: 15px;"></i>
                                </span></a>
                            </a>
                            <a id="navText" style="color:white; text-decoration: none;font-size: 20px;"href="{% url 'logout' %}" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7"
                            title="Log Out Account"><i class="fa fa-fw fa-sign-out-alt" style="font-size: 20px;margin-right:8px;"></i>Sign Out</a>
                            <ul class="dropdown-menu dropdown-menu-end p-2" style="margin-right:3%;" aria-labelledby="dropdownUser1">
                                <div class="card p-3 d-flex align-items-center justify-content-center">
                                    <div class="row d-block">
                                        <div class="d-flex justify-content-center my-2">
                                            <i class="fa fa-lg fa-fw fa-user bi" style="margin-left:5px ;"></i>  
                                        </div>
                                         <div class="d-flex justify-content-center text-center p-2">  
                                            <span style="font-size: 15px;"> {{ user.first_name }} {{ user.last_name }} </span>
                                         </div>
                                    </div>
                                </div>
                                <div>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" style="background-color: rgba(255, 255, 255, 0); padding: 2px !important; margin-left:7px;"href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out-alt"></i>Sign out</a></li>
                                </div>  
                            </ul>                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
</header>

<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip()})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
 </script>

<!-- Dashboard -->
<div id="grid" class="container-fluid" style="padding:3%; margin: top 65px;">
    <div class="container-grid">
        <div class="">
            <div class="row d-flex justify-content-between"> 
                <div class="col align-items-center d-flex justify-content-md-start justify-content-center mb-2">
                    <h3 style="text-align:left;">List of barangay</h3>
                </div>
                <div class="col-sm-6 d-flex align-items-center justify-content-md-end justify-content-center">
                    <button style="margin-bottom: 0px; background-color: #188045;border-color:#188045; height: 50px;" type="button" class="btn hoverableButton btn-primary" data-bs-toggle="modal" data-bs-target="#addBrgy">
                        <span class="fas fa-landmark"></span>  Add Barangay</button>
                </div>
            </div>
            
        <hr>
        <br>
        </div>
    </div>
     <!--------------------- DataTables --------------------->
     <div class="text-black pt-3">
        <div class="row">
            <div class="col">
                <div class="card-header">
                    <h3>Barangays</h3>
                </div>
                <div class="card shadow-lg p-3 bg-white rounded" >
                    <div class="table-responsive" >
                        <table class="table table-hover table-cell-border" id="table_barangay" >
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">No.</th>
                                    <th scope="col" class="text-center">Barangay Name</th>
                                    <th scope="col" class="text-center">Phone Number</th>
                                    <th scope="col" class="text-center">Barangay Hall Address</th>
                                    <th scope="col" class="text-center">Number of Enrolled Preschoolers</th>
                                    <th scope="col" class="text-center">Number of Parent/Guardian</th>
                                    <th scope="col" class="text-center">Number of BHW/BNS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for barangay in barangays %}
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">{{ barangay.brgy_name }}</td>
                                    <td class="text-center">{{ barangay.brgy_phone }}</td>
                                    <td class="text-center">{{ barangay.brgy_address }}</td>
                                    <td class="text-center">{{ barangay.enrolled_preschooler_count }}</td>
                                    <td class="text-center">{{ barangay.parent_count }}</td>
                                    <td class="text-center">{{ barangay.bhw_count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addBrgy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header" >
                    <h5 class="modal-title fw-bold" id="exampleModalLabel"><i class=" fa fa-user-edit" style="color: #188045;"></i> Add Barangay</h5>
                </div>
                <div class="modal-body mx-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="md-form" required>
                            <label id="user-lbl" data-error="wrong" data-success="right" aria-required="true">Barangay Name: </label>
                            {{ form.brgy_name }}
                        </div>
                        <div class="md-form" required>
                            <label id="user-lbl" data-error="wrong" data-success="right" aria-required="true">Barangay Phone Number: </label>
                            {{ form.brgy_phone }}
                        </div>
                        <div class="md-form" required>
                            <label id="user-lbl" data-error="wrong" data-success="right" aria-required="true">Barangay Hall Address: </label>
                            {{ form.brgy_address }}
                        </div>
                </div>
                        <div class="modal-footer justify-content-center" >
                            <button type="button" data-bs-dismiss="modal" style="background-color: red; color: white;min-width: 15%;" class="btn hoverableButtonRed">Cancel</button>
                            <button type="submit" class="btn btn-primary hoverableButton" style="background-color: #188045;border-color: #188045; min-width: 15%;">Add</button>
                        </div>
                    </form>
                
            </div>
        </div>
    </div>
</div>

<!-- USER MANUAL / HELP-->
<input type="checkbox" id="helpCheckBox">
<label class="help-container"  for="helpCheckBox" >
    <label class="button helpIconButton hoverableButton" for="helpCheckBox" >
    <h5 class="text-white fw-bold textShadow rotateText">HELP</h5>
    </label>
    <ul class="helpOptions">
        <li>
            <span class="btn-label hoverableButton" data-bs-toggle="modal" data-bs-target="#adminQ1">How can I view the history logs of this system?</span>
        </li>
        <li>
            <span class="btn-label hoverableButton" data-bs-toggle="modal" data-bs-target="#adminQ2">How can I view/set password for the different user of this system?</span>
        </li>
        <li>
            <span class="btn-label hoverableButton" data-bs-toggle="modal" data-bs-target="#adminQ3">How can I validate account of BHW/BNS?</span>
        </li>
        <li>
            <span class="btn-label hoverableButton" data-bs-toggle="modal" data-bs-target="#adminQ4">How can I view/add Barangay?</span>
        </li>
        <li>
            <span class="btn-label hoverableButton" data-bs-toggle="modal" data-bs-target="#adminQ5">How can I view Preschooler Records?</span>
        </li>
        <li>
            <span class="btn-label hoverableButton" data-bs-toggle="modal" data-bs-target="#adminQ6">How can I Filter Data on Tables/Exports?</span>
        </li>
    </ul>
</label>

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- USER MANUAL / HELP MODALS -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- Q1 MODAL -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<div class="modal fade" id="adminQ1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header text-center d-flex justify-content-between">
            <div class="d-flex justify-content-center align-items-center"><img class="navbar-icon" style="margin-right:10px;" src="{% static '/Media/avatar.png' %}"><h5 class="modal-title" id="exampleModalLabel"> PPMS | User Assistance</h5>
            </div>
            <button type="button" class="btn hoverableButtonRed" style="background-color: #EF3A25; color: white; border-radius: 5px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="padding:2% 10% 2% 10%;">
            <div>
                <img class="img-fluid" alt="Responsive image" src="{% static '/Media/userManual/adminViewLogs.png' %}">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" style="background-color: #EF3A25; color: white;" data-bs-dismiss="modal" aria-label="Close"> Close</button>
        </div>
    </div>
</div>
</div>

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- Q2 MODAL -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<div class="modal fade" id="adminQ2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header text-center d-flex justify-content-between">
            <div class="d-flex justify-content-center align-items-center"><img class="navbar-icon" style="margin-right:10px;" src="{% static '/Media/avatar.png' %}"><h5 class="modal-title" id="exampleModalLabel"> PPMS | User Assistance</h5>
            </div>
            <button type="button" class="btn hoverableButtonRed" style="background-color: #EF3A25; color: white; border-radius: 5px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="padding:2% 10% 2% 10%;">
            <div>
                <img class="img-fluid" alt="Responsive image" src="{% static '/Media/userManual/adminViewUsers.png' %}">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" style="background-color: #EF3A25; color: white;" data-bs-dismiss="modal" aria-label="Close"> Close</button>
        </div>
    </div>
</div>
</div>
<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- Q3 MODAL -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<div class="modal fade" id="adminQ3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header text-center d-flex justify-content-between">
            <div class="d-flex justify-content-center align-items-center"><img class="navbar-icon" style="margin-right:10px;" src="{% static '/Media/avatar.png' %}"><h5 class="modal-title" id="exampleModalLabel"> PPMS | User Assistance</h5>
            </div>
            <button type="button" class="btn hoverableButtonRed" style="background-color: #EF3A25; color: white; border-radius: 5px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="padding:2% 10% 2% 10%;">
            <div>
                <img class="img-fluid" alt="Responsive image" src="{% static '/Media/userManual/adminValidate.png' %}">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" style="background-color: #EF3A25; color: white;" data-bs-dismiss="modal" aria-label="Close"> Close</button>
        </div>
    </div>
</div>
</div>
<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- Q4 MODAL -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<div class="modal fade" id="adminQ4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header text-center d-flex justify-content-between">
            <div class="d-flex justify-content-center align-items-center"><img class="navbar-icon" style="margin-right:10px;" src="{% static '/Media/avatar.png' %}"><h5 class="modal-title" id="exampleModalLabel"> PPMS | User Assistance</h5>
            </div>
            <button type="button" class="btn hoverableButtonRed" style="background-color: #EF3A25; color: white; border-radius: 5px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body" style="padding:2% 10% 2% 10%;">
            <div>
                <img class="img-fluid" alt="Responsive image" src="{% static '/Media/userManual/adminAddBarangay.png' %}">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" style="background-color: #EF3A25; color: white;" data-bs-dismiss="modal" aria-label="Close"> Close</button>
        </div>
    </div>
</div>
</div>

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- Q5 MODAL -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<div class="modal fade" id="adminQ5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center d-flex justify-content-between">
                <div class="d-flex justify-content-center align-items-center"><img class="navbar-icon" style="margin-right:10px;" src="{% static '/Media/avatar.png' %}"><h5 class="modal-title" id="exampleModalLabel"> PPMS | User Assistance</h5>
                </div>
                <button type="button" class="btn hoverableButtonRed" style="background-color: #EF3A25; color: white; border-radius: 5px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body" style="padding:2% 10% 2% 10%;">
                <div>
                    <img class="img-fluid" alt="Responsive image" src="{% static '/Media/userManual/adminViewRecords.png' %}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: #EF3A25; color: white;" data-bs-dismiss="modal" aria-label="Close"> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- Q6 MODAL -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<div class="modal fade" id="adminQ6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header text-center d-flex justify-content-between">
                <div class="d-flex justify-content-center align-items-center"><img class="navbar-icon" style="margin-right:10px;" src="{% static '/Media/avatar.png' %}"><h5 class="modal-title" id="exampleModalLabel"> PPMS | User Assistance</h5>
                </div>
                <button type="button" class="btn hoverableButtonRed" style="background-color: #EF3A25; color: white; border-radius: 5px;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body" style="padding:2% 10% 2% 10%;">
                <div>
                    <img class="img-fluid" alt="Responsive image" src="{% static '/Media/userManual/filterTable.png' %}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: #EF3A25; color: white;" data-bs-dismiss="modal" aria-label="Close"> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="footer text-muted">
    <div class="container">
        <div class="row text-center align-items-center">
                <div class="border-top p-4">
                    <p class="copyright"><small>
                    Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i>
                    </small>
                    </p>
                </div>
        </div>
    </div>

    <script>
        var t = $('#table_barangay').DataTable({
            dom: 'Blfrtip',
            info: 'true',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    orientation: 'portrait',
                    pageSize: 'LEGAL',
                    download: 'open',
                    text: 'Generate PDF ',
                    title: 'List of all Barangay | ' + '{{ user.first_name }} {{ user.last_name }} | ' + '{{current_date}}',
                    messageTop: 'Number of Barangays: ' + '{{allbarangays}}' + '                                                              '+
                                'Number of Enrolled Preschoolers: ' + '{{allPreschoolers}}' + '                                   '+
                                'Number of Parent/Guardian: ' + '{{allParent}}' + '                                                     ' +
                                'Number of BHW/BNS: ' + '{{allBHW}}' + '                                                 ',
                    customize: function(doc){
                        doc.styles.tableHeader = {
                            bold: true,
                            fontSize: 10,
                            alignment: 'center'
                        }

                        var objLayout = {};
                            objLayout['hLineWidth'] = function(i) { return .8; };
                            objLayout['vLineWidth'] = function(i) { return .5; };
                            objLayout['hLineColor'] = function(i) { return '#000000'; };
                            objLayout['vLineColor'] = function(i) { return '#000000'; };
                        doc.content[2].layout = objLayout;
                        
                        doc.defaultStyle.fontSize = 10; //2, 3, 4,etc
                        doc.styles.tableHeader.alignment = 'center';
                        doc.styles.tableHeader.fillColor = '#eef9eb';
                        doc.content[1].alignment = 'left';
                        doc.content[2].alignment = 'center';

                        doc.content[2].table.widths = [ '10%', '15%',  '15%', '15%', '15%', '15%', '15%', ];
                    }
                },
            ],
            pageLength : 10,
            aoColumnDefs: [{
                'bSortable': false,
                'aTargets': ['nosort'],
                'orderable': false,
                'targets': [0],
            }],
            order: [[1, 'asc']],
            });
            t.on('order.dt search.dt', function () {
            let i = 1;
            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });}).draw();
    </script>
<script src="{% static '/Javascript/js/functions.js' %}"></script>
<script src="{% static '/Javascript/js/bootstrap.bundle.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <script>
                Swal.fire({
                icon: 'warning',
                title: 'Already Exists',
                text: '{{message}}',
                confirmButtonText: "Ok",
                confirmButtonColor: '#EF3A25',
            });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}