{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static '/CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static '/Media/logo.svg' %}" type="image/x-icon">
    <script src="{% static '/Javascript/js/jquery.min.js' %}"></script>
    <link rel="icon" href="{% static '/Media/Dasmalogo.png' %}" type="image/y-icon">

    <title>PPMS | {{ user.first_name }} {{ user.last_name }}</title>
    <!-- Header -->
</head>

<header>
    <div class="site-header">
    <nav class="navbar fixed-top index__navbar scrolled" 
    style=" padding-left:3%; padding-right:3%; background-color: #ffffffcd;">
        <div class="flex-fill p-1 py-1">
            <div class="d-flex align-items-center justify-content-end">
                <div id="navLinks">
                    <ul class="nav text-small">
                        <li>
                            <a href="{% url 'bhw_home' %}"  style="border-radius: 13%; background-color: rgba(255, 255, 255, 0);"class="nav-link" data-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,7" 
                            title="Go back to Home">
                            <button class="back-button">
                                <span class="circle" aria-hidden="true">
                                <span class="icon arrow"></span>
                                </span>
                                <span class="button-text d-flex align-items-center justify-content-center">Back</span>
                              </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>
</header>

<!-- Tooltip Script -->
<script>
    $(function () {
       $('[data-toggle="tooltip"]').tooltip({'delay': { show: 400, hide: 100 }})})
       $('[data-toggle="tooltip"]').on('shown.bs.tooltip', function () {
       $('.tooltip').addClass('animated fade');
   })
 </script>
 
 <body class="mt-0 mb-0 d-flex" style="background-color: black; height: auto; flex-wrap: wrap;">
    <!-- Dashboard -->
    <div id="grid" class="container-fluid mt-0">
        <div class="container-grid">
            <div id="profileCard" class="card">
                <div class="card-header">
                    <h4 class="d-flex justify-content-center"><i class="fas fa-clipboard-check mx-2"></i>User Profile</h4>
                </div>
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="mb-0">Full Name</p>
                        </div>
                        {% if user.suffix_name is None %}
                            <div class="col-sm justify-content-start justify-content-md-center">
                                <p class="text-muted mb-0">{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</p>
                            </div>
                        {% else %}
                            <div class="col-sm justify-content-start justify-content-md-center">
                                <p class="text-muted mb-0">{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }} {{ user.suffix_name }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="mb-0">Barangay</p>
                        </div>
                        <div class="col-sm">
                            {% if user.user_type == 'BHW' %}
                                <p class="text-muted mb-0">{{ bhw.bhw_barangay }}</p>
                            {% else%}
                                <p class="text-muted mb-0">{{ parent.barangay }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="text-muted mb-0">{{ user.email }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="mb-0">Contact Number</p>
                        </div>
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="text-muted mb-0">{{ user.phone_num }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="mb-0">User Type</p>
                        </div>
                        <div class="col-sm justify-content-start justify-content-md-center">
                            <p class="text-muted mb-0">{{ user.user_type }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="profileCard2" class="card">
                
                <form action="" method="POST">
                    {% csrf_token %}
                <div class="card-body p-3">
                    <div class="md-form justify-content-center d-flex" style="width:100%;">
                        <div class="row d-block justify-content-center align-items-center">
                            <div class="d-flex justify-content-center">
                                <p >Change Password </p> 
                            </div>
                            <hr>
                            <div class="col md-form p-2 d-flex justify-content-sm-end justify-content-center flex-wrap ">
                                <label class="mx-2"id="user-lbl" data-error="wrong" data-success="right">Old Password: </label>
                                {{ form.old_password }}
                                
                            </div>
                            <div class="col md-form p-2 d-flex justify-content-sm-end justify-content-center flex-wrap ">
                                <label class="mx-2"id="user-lbl" data-error="wrong" data-success="right">New Password: </label>
                                {{ form.new_password1 }}
                                
                            </div>
                            <div class="col md-form p-2 d-flex justify-content-sm-end justify-content-center flex-wrap ">
                                <label class="mx-2" id="user-lbl" data-error="wrong" data-success="right">Confirm Password: </label>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {% if user.user_type == 'BHW' %}
                        <div class="d-flex justify-content-center">
                            <input class="btn btn-primary px-3" type="submit" name="Confirm" value="Save Changes" style="margin-left: 1%; background-color: rgb(44, 95, 34);">
                        </div>
                    {% elif user.user_type == 'P/G' %}
                        <div class="d-flex justify-content-center">
                            <input class="btn btn-primary px-3" type="submit" name="Confirm" value="Save Changes" style="margin-left: 1%; background-color: rgb(44, 95, 34);">
                        </div>
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR  %}
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Reset password failed.',
                    text: '{{message}}',
                    confirmButtonText: "Ok",
                    confirmButtonColor: '#EF3A25',
                });
            </script>
        {% else %}
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Password reset successfully.',
                    text: '{{message}}',
                    confirmButtonText: "Ok",
                    confirmButtonColor: '#EF3A25',
                }).then(function() {
                    window.location = "{% url 'bhw_home' %}";
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
    
